/* Estilo general para el body */
body {
    padding-top: 56px; /* Ajuste para evitar que el contenido esté detrás de la barra de navegación */
}

/* Estilo para la barra de navegación */
.navbar {
    background-color: #343a40; /* Color de fondo */
}

/* Estilo para el texto en la barra de navegación */
.navbar-brand,
.navbar-nav .nav-link {
    color: #ffffff; /* Color del texto */
}

/* Estilo para el enlace activo en la barra de navegación */
.navbar-nav .nav-item.active .nav-link {
    color: #007bff; /* Color del enlace activo */
}

/* Estilo para el formulario de inicio de sesión */
.login-form {
    max-width: 400px;
    margin: auto;
}

/* Estilo para los campos de entrada del formulario */
.form-group {
    margin-bottom: 20px;
}

/* Estilo para el botón de inicio de sesión */
.btn-primary {
    width: 100%;
}

.container .registro{
    display: flex;
    align-items: center;
    height: 100vh; /* Para que ocupe toda la altura visible */
    left: 10vh;
    margin-left: 200px;
}

/* Estilos específicos para el div del formulario */
.bg-danger {
    /* Cambia el color de fondo a rojo */
    background-color: #000000; /* Cambia el color de fondo a rojo */
    max-width: 800px; /* Cambia el ancho máximo del contenedor */
    margin: 600px; /* Centra horizontalmente el contenedor */
    margin-left: 200px;
    padding: 100px; 

}


