{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<header class="bg-dark py-5">
    <div class="text-center text-white">
        <h1 class="display-4 fw-bolder">Bienvenidos al Hotel el Redil</h1>
    </div>
</header>


<div class="container mt-4">
    <h1 class="mb-4">Sobre Nosotros</h1>

    <section>
        <h2>Descripción del Hotel</h2>
        <p>¡Bienvenido al Hotel El Redil! Somos un hotel boutique que ofrece experiencias de alojamiento únicas y confortables. Nuestro hotel está ubicado en un entorno tranquilo y encantador, perfecto para aquellos que buscan relajarse y disfrutar de la hospitalidad excepcional.</p>
    </section>

    <section>
        <h2>Misión</h2>
        <p>Proporcionar a nuestros huéspedes una estancia inolvidable, ofreciendo servicios de alta calidad, comodidades excepcionales y atención personalizada. Nos esforzamos por crear un ambiente acogedor donde cada huésped se sienta como en casa.</p>
    </section>

    <section>
        <h2>Visión</h2>
        <p>Convertirnos en el destino preferido para quienes buscan experiencias de alojamiento excepcionales. Buscamos constantemente mejorar nuestros servicios, expandir nuestras instalaciones y ser reconocidos por la excelencia en la industria hotelera.</p>
    </section>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-eNq8iqEAB5mzqc0GNEUjFuZJpTsUlvjs/J9aR5aFURqUto8JNt6l9b6f5KlVaGMr" crossorigin="anonymous"></script>
<!-- Otros scripts o enlaces a archivos JS si es necesario -->

<div class="container text-center mt-4">
  <div class="row">
      <!-- Cuadro del Mapa -->
      <div class="col-md-8">
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3989.400725184001!2d-77.6339441!3d0.8289772!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e296b51458a25d3%3A0x6565fc0ff475254!2sHotel%20El%20Redil!5e0!3m2!1ses-419!2sco!4v1701734987075!5m2!1ses-419!2sco"
              width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
          </iframe>
      </div>

      <!-- Cuadro de Información -->
      <div class="col-md-4">
          <div class="card">
              <div class="card-body">
                  <p class="card-text">
                    <ul class="services-list">
                        <li class="services-list-item"><span class="services-icon">📶</span>WiFi gratis</li>
                        <li class="services-list-item"><span class="services-icon">🅿️</span>Parking gratis</li>
                        <li class="services-list-item"><span class="services-icon">👨‍👩‍👧‍👦</span>Habitaciones familiares</li>
                        <li class="services-list-item"><span class="services-icon">🍽️</span>Restaurante</li>
                        <li class="services-list-item"><span class="services-icon">🕒</span>Recepción 24 horas</li>
                    </ul>
                  </p>
              </div>
          </div>
      </div>
  </div>
</div>


  <section class="page-section" id="contact">
    <div class="container">
        <div class="text-center">
            <br><h2 class="section-heading text-uppercase">Contactanos </h2><br>
        </div>

  <form id="contactForm" data-sb-form-api-token="API_TOKEN">
    <div class="row align-items-stretch mb-5">
        <div class="col-md-6">
            <div class="form-group">
                <!-- Name input-->
                <input class="form-control" id="name" type="text" placeholder="Nombre *" data-sb-validations="required" />
                <div class="invalid-feedback" data-sb-feedback="name:required">Nombre</div>
            </div>
            <div class="form-group">
                <!-- Email address input-->
                <input class="form-control" id="email" type="email" placeholder="Email *" data-sb-validations="required,email" />
                <div class="invalid-feedback" data-sb-feedback="email:required">Email</div>
                <div class="invalid-feedback" data-sb-feedback="email:email">Email</div>
            </div>
            <div class="form-group mb-md-0">
                <!-- Phone number input-->
                <input class="form-control" id="phone" type="tel" placeholder="Teléfono *" data-sb-validations="required" />
                <div class="invalid-feedback" data-sb-feedback="phone:required"></div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group form-group-textarea mb-md-0">
                <!-- Message input-->
                <textarea class="form-control" id="message" placeholder="Mensaje*" data-sb-validations="required"></textarea>
                <div class="invalid-feedback" data-sb-feedback="message:required">Mensaje</div>
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-primary">Enviar</button><br>

            <!-- Footer-->
    <br><footer class="py-5 bg-dark">
      <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
    </footer>

{% endblock %}
